Source: qubes-flatpak-helper
Maintainer: Cotorobai Anastasia <cotorobai.anastasia@gmail.com>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: qubes-flatpak-helper
Architecture: any
Depends: ${misc:Depends}
Description: Flatpak helper to synchronize app menu with newly installed flatpak app icons in Qubes VMs. This helper consists of a service that monitor flatpak .changed file and synchronize the app menu every time a flatpak is installed/uninstalled. 
